<div>
    <br><label for="fname">First name:</label><br><br>
    <input type="text" id="fname" placeholder="Enter Your First Name"><br><br>
    <label for="lname">Last name:</label><br><br>
    <input type="text" id="lname" placeholder="Enter Your Last Name"><br><br>
    <label for="emp_id">Emp ID:</label><br><br>
    <input type="text" id="emp_id" placeholder="Enter Your Emp ID" ><br><br>
</div>
<div>
    <button class="btn default">Add</button>&nbsp;&nbsp; 
    <button class="btn default">Edit</button>&nbsp;&nbsp;
    <button class="btn default">Delete</button>
</div>