.btn {
    /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }
  
.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}